<h1>user profile here</h1>

<script>
function initMap() {
    //設定中心點座標
    
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: {lat: 22.630884, lng: 120.301065}
    });
    var url = 'https://wapi.gogoro.com/tw/api/vm/list';
    function callAjax(url) {
       var xhr = new XMLHttpRequest();
       xhr.open('get', url, true);
       xhr.send(null);
       xhr.onload = function() {
        var gogorostation = JSON.parse(xhr.responseText);
            gogorostaion = gogorostaion.data.records;//要撈的資料如下圖所示
            len = wifiData.length;
}//JSON.parse是string轉object,方便撈取資料
       }
}
</script>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJhYtzaZfX7Bxf5fDzgLEu8GE-rqAVycY&callback=initMap" async
    defer></script>
